* {                     /*margin and padding removed*/
    margin: 0;
    padding: 0;
}
body{
	background-image: url(images/zool_shot.png);       /*background image*/
    background-size: cover;
}

div {
    padding-left: 300px;
    padding-right: 40px;
    padding-bottom: 20px;
    padding-top:px;  
}
div p {
    color: rgb(255, 255, 255);
}
div h1 {
    color: rgb(255, 255, 255);
}
.resize-img{
	width:350px;
	height:200px;
}
.resize-img2{
	width:500px;
	height:300px;
}
.highlight{
    background-image: linear-gradient(to right,
    rgb(0, 0, 0), rgb(0, 0, 0), rgb(0, 0, 0));
    border-radius: 6px;
    padding: 3px 6px;

}